@using SmallFormApp.Models
@model Product
@{
    ViewData["Title"] = "Edit";
}


<h2>Update</h2>
<br />
<form asp-controller="Home" asp-action="Edit" method="post">
    <div class="form-group">
        <label>Name</label>
        <input asp-for="Name" value="@Model.Name" class="form-control" />
    </div>
    <div class="form-group">
        <label>Description</label>
        <input asp-for="Description" value="@Model.Description" class="form-control" />
    </div>
    <div class="form-group">
        <label>Price</label>
        <input asp-for="Price" value="@Model.Price" class="form-control" />
    </div>
    <div class="form-group">
        <label>Category</label>
        <select asp-for="Category" value="@Model.Category" asp-items="@ViewBag.Categories" class="form-control">
            <option selected disabled>Select Category</option>
        </select>
    </div>
    <div class="form-check">
        <label class="form-check-label">
            <input asp-for="isApproved" value="@Model.isApproved" class="form-check-input" />
            is Approved
        </label>

    </div>
    <input type="submit" class="btn btn-danger" />
</form>

